<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    <div class="content">
      <div id="wrapper">
        <h1>Administration area</h1>
        <h2>Hi {{ user_name }}!</h2>
        <img id="alpaca" class="pure-img" src="{{ img_src }}" alt ="{{ img_alt }}" title="{{ img_title }}">
      </div>
    </div>
    <table id="useragent" class="pure-table pure-table-striped">
      <thead>
        <tr>
          <th>Recent UA</th>
        </tr>
      </thead>
      <tbody>
        {{# user_agents }}
        <tr>
          <td class="response">{{{ val }}}</td>
        </tr>
        {{/ user_agents }}
      </tbody>
    </table>
  </body>
</html>
