<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    <div class="content">
      <div id="wrapper">
        <h1>Administration area</h1>
        <h2>Hi {{ user_name }}!</h2>
        <img id="alpaca" class="pure-img" src="{{ img_src }}" alt ="{{ img_alt }}" title="{{ img_title }}">
        <h3>Flag: <span id="flag">{{ flag }}</span></h3>
      </div>
    </div>
  </body>
</html>
